<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'diveSitesIndexPage.diveSites' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let diveSite of (diveSites$ | async)" [routerLink]="['/dive-sites', diveSite.id]" detail>
      <ion-label>
        <h2>{{ diveSite }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/dive-sites/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
