<ion-content>
  <img src="assets/images/logo.png" alt="logo" id="logo" />
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-list>
      <!-- Email input item -->
      <div class="input-with-errors">
        <ion-item>
          <ion-label position="floating">{{ 'loginPage.email' | translate }}</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <div class="validation-errors"
          *ngIf="(loginForm.controls.email.dirty || loginForm.controls.email.touched) && loginForm.controls.email.errors">
          <ng-container *ngFor="let error of loginForm.controls.email.errors | keyvalue">
            <div class="error-message">
              <ion-icon name="alert-circle-outline"></ion-icon>
              {{ errorService.getInputValidationMsg(error.key, error.value) }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- Password input item -->
      <div class="input-with-errors">
        <ion-item>
          <ion-label position="floating">{{ 'loginPage.password' | translate }}</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <div class="validation-errors"
          *ngIf="(loginForm.controls.password.dirty || loginForm.controls.password.touched) && loginForm.controls.password.errors">
          <ng-container *ngFor="let error of loginForm.controls.password.errors | keyvalue">
            <div class="error-message">
              <ion-icon name="alert-circle-outline"></ion-icon>
              {{ errorService.getInputValidationMsg(error.key, error.value) }}
            </div>
          </ng-container>
        </div>
      </div>

    </ion-list>
    <ion-button expand="block" type="submit">{{ 'loginPage.login' | translate }}</ion-button>
  </form>
  <ion-button expand="block" [routerLink]="['/register']">{{ 'loginPage.noAccount' | translate }}</ion-button>
</ion-content>