<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ diveSite }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'diveSiteShowPage.details' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <span *ngIf="diveSite?.location">{{ 'diveSiteShowPage.location' | translate }}: [{{ diveSite?.location.latitude }}° {{ 'northSmall' | translate }}, {{ diveSite?.location.longitude }}° {{ 'westSmall' | translate }}]<br></span>
      <span *ngIf="diveSite?.difficulty">{{ 'diveSiteShowPage.difficulty' | translate }}: {{ 'difficulties.' + diveSiteService.difficultyValueToName(diveSite?.difficulty) | translate }}<br></span>
      <span *ngIf="diveSite?.water_type">{{ 'diveSiteShowPage.waterType' | translate }}: {{ 'waterTypes.' + diveSiteService.waterTypeValueToName(diveSite?.water_type) | translate }}<br></span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'diveSiteShowPage.description' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="with-line-breaks">{{ diveSite?.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="canUpdate">
    <ion-fab-button [routerLink]="['/dive-sites', diveSiteId, 'edit']">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
